{{- $personalDevice := promptBoolOnce . "personalDevice" "Is this a personal device" true -}}
{{- $email := promptStringOnce . "email" "What is the primary email address you'd like to use on this device" "trjstewart@gmail.com" -}}
{{- $onePasswordAvailable := promptBoolOnce . "onePasswordAvailable" "Is the 1Password Desktop App installed on this device?" true -}}

progress: true
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  personalDevice: {{ $personalDevice }}
  email: {{ $email | quote }}
  onePasswordAvailable: {{ $onePasswordAvailable }}
  testing: true
